/*---------------------------------------------------CSS Classes--------------------------------------------------*/

.color{
    background-color: goldenrod;
    color: white;
}

.dim {
    border: 1px solid black;
    padding: 100px;
}

.newClass{
    font-size: 32px;
}

.newDim{
    font-size: 32px;
}



































